[Unit]
Description=Generate a hostname matching the machine name from /run/machine-name, to be overlaid into /etc
DefaultDependencies=no
ConditionFileIsExecutable=/usr/libexec/update-hostname
ConditionPathExists=/run/machine-name
Requires=local-fs.target
After=local-fs.target
Wants=update-machine-name.service
After=update-machine-name.service
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/update-hostname

[Install]
WantedBy=sysinit.target
