[Unit]
Description=Update Cockpit origins based on the machine name at /run/machine-name
ConditionFileIsExecutable=/usr/libexec/update-cockpit-origins
ConditionPathExists=/run/machine-name
Wants=update-machine-name.service
After=update-machine-name.service
Wants=network-pre.target
Before=network-pre.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/update-cockpit-origins

[Install]
WantedBy=multi-user.target
