[Unit]
Description=Publish %i as alias for 192.168.4.1 via mDNS
Wants=avahi-daemon.service
After=avahi-daemon.service
Wants=avahi-daemon.socket

[Service]
Type=simple
ExecStart=/usr/bin/bash -c "/usr/bin/avahi-publish -a -R %i 192.168.4.1"

[Install]
WantedBy=multi-user.target
